<!DOCTYPE html>

<html>

<head>
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<style>
    .jumbotron {
        position: relative;
        overflow: hidden;
        background-image:linear-gradient(#ff7e5f, #feb47b);
    }
    .jumbotron .container {
        z-index: 2;
        position: relative;
    }
</style>

<body>
    <div class="jumbotron jumbotron-fluid">
        <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <h1 class="display-4">{{mask_word}}</h1>
                <h4> {{word_desc}} </h4>
                <hr class="my-4">
                <p>Bersihkan pikiran kotor kamu dulu, baru jawab quiz ini! 😋</p>
                <form method="post" action="/{{word_id}}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-auto">
                            {{form.as_p}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg active" aria-pressed="true">Submit</button>
                </form>
                <br>
                <b>Level {{word_id}}</b>
            </div>
        </section>
    </div>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="https://www.instagram.com/do.exploit/">
            <img src="https://instagram.fcgk29-1.fna.fbcdn.net/v/t51.2885-19/s320x320/101442015_462849647878053_3056440775286980608_n.jpg?tp=1&_nc_ht=instagram.fcgk29-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=tjknVZi6usoAX9eTY_5&edm=ABfd0MgAAAAA&ccb=7-4&oh=7cd8aaee3d03524aa6a80facebaf4e74&oe=60A8C4F2&_nc_sid=7bff83" width="30" height="30" class="d-inline-block align-top" alt=""> Do Exploit
        </a>
        <p> Terimakasih <a href="https://kamusbesar.com/">kamusbesar.com</a> telah menyediakan definisi kata-kata berbahasa Indonesia.</p>
        <p>Inspired by: <a href="https://kntl.netlify.app/"><b>The Revolt<b></a></p>
    </nav>
</body>

</html>